.author_container {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.author_wrap {
    display: inline-block;
    width: 250px;
    margin: 2em;
}

.author_picture {
    width: 100%;
    border: 1px solid #EEE;
}

.author_picture > img {
    width: 100%;
}

.author_name {
    margin-top: 1.2em;
    text-transform: inherit;
}

.author_content {
    margin: 2em 0 1em 0;
}

.author_count {

}

.author_posts_wrap {
    margin: 2em 0;

    border-top: 1px dotted rgba(160, 160, 160, 0.3);
}

.author_posts_wrap ul.posts article header h3, time {
    text-align: center;
}

.author_posts_wrap ul.posts li {
    width: 100%;
    margin: 1.5em 0 0 0;
}

@media screen and (min-width: 980px) {
    .author_container {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .author_about {
        text-align: left;
        width: 40%
    }

    .author_content {
        margin: 1em 0 1em 0;
        padding: 1em 0 1em 0;
        border-bottom: 1px solid #EEE;
    }
}
