{% load static %}
<html>
	<head>
		<title>About - TubeBook</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="{% static "css/main.css" %}" />
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />

	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">TubeBook</a></h1>
						<nav class="links">
							<ul>
								<li><a href="/">文章</a></li>
                                <li><a href="/about">簡介</a></li>
								<li><a href="/author">作者</a></li>
							</ul>
						</nav>
                        <div class="login">
                            <a href="/admin">Log In</a>
                        </div>
						<nav class="main">
							<ul>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="/">
											<h3>文章</h3>
											<p>TubeBook上的文章列表</p>
										</a>
									</li>
									<li>
										<a href="/about">
											<h3>簡介</h3>
											<p>關於TubeBook的一些介紹</p>
										</a>
									</li>
									<li>
										<a href="/author">
											<h3>作者</h3>
											<p>在TubeBook上寫文章的傢伙</p>
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions vertical">
									<li><a href="/admin" class="button big fit">Log In</a></li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
                                <div class="giflogo aboutlogo">
								    <img src="{% static "images/logo.gif" %}" alt="">
								</div>

                                <div style="margin-top: 3em">
                                    <p style="text-align:center;line-height: 2em">
                                        覺得YouTube影片又多又雜嗎<br>
                                        覺得想找到自己需要的影片很麻煩嗎<br>
                                        我們來了!<br>
                                        TubeBook幫你蒐集YouTube中有趣又充滿正面能量的資源<br>
                                        讓你不再為龐大的影片資源感到煩惱<br>
                                        TubeBook為你把關<br>
                                        不用再擔心本來想找到線上教學課程的影片<br>
                                        但怎麼查都只查的到日本動作片的窘境<br>
                                    </p>
                                </div>



							</article>

					</div>

			</div>

		<!-- Scripts -->
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/skel.min.js" %}"></script>
        <script src="{% static "js/util.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>

	</body>
</html>
