{% load static %}
<html>
	<head>
		<title>{{ author.name }} - TubeBook</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="{% static "css/main.css" %}" />
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />

	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">TubeBook</a></h1>
						<nav class="links">
							<ul>
								<li><a href="/">文章</a></li>
                                <li><a href="/about">簡介</a></li>
								<li><a href="/author">作者</a></li>
							</ul>
						</nav>
                        <div class="login">
                            <a href="/admin">Log In</a>
                        </div>
						<nav class="main">
							<ul>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="/">
											<h3>文章</h3>
											<p>TubeBook上的文章列表</p>
										</a>
									</li>
									<li>
										<a href="/about">
											<h3>簡介</h3>
											<p>關於TubeBook的一些介紹</p>
										</a>
									</li>
									<li>
										<a href="/author">
											<h3>作者</h3>
											<p>在TubeBook上寫文章的傢伙</p>
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions vertical">
									<li><a href="/admin" class="button big fit">Log In</a></li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
                                <div class="author_container">
                                    <div class="author_wrap">
                                        <div class="author_picture">
                                            <img src="{{ author.picture_url }}" alt="">
                                        </div>

                                    </div>

                                    <div class="author_about">
                                        <h2 class="author_name">{{ author.name }}</h3>
                                        <div class="author_mail"><a href="mailto:{{ author.mail }}">{{ author.mail }}</a></div>
                                        <!-- <div class="author_count">{{ author.count }}篇文章 | <a href="">看他的文章</a></div> -->
                                        <div class="author_content">
                                            {{ author.about|safe }}
                                        </div>
                                        <div class="author_count">
                                            共 {{ author.count }} 篇文章 | <a href="">查看所有文章</a>
                                        </div>

                                    </div>
                                </div>

                                <div class="author_posts_wrap">

                                    <ul class="posts">
                                        {% for post in posts %}
    									<li>
                                            <a href="/post/{{ post.id }}">
        										<article>
        											<header>
        												<h3>{{ post.title }}</h3>
        												<time class="published" datetime="{{ post.date }}">{{ post.date }}</time>
        											</header>
        										</article>
                                            </a>
    									</li>
                                        {% endfor %}

    								</ul>


                                </div>


							</article>

					</div>

			</div>

		<!-- Scripts -->
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/skel.min.js" %}"></script>
        <script src="{% static "js/util.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>

	</body>
</html>
